<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% load staticfiles %}
	<link rel="shortcut icon" href="{% static "assets/home.png" %}">
	<title>Home Automation System</title>
	{% include "variables.js" %}
	<link rel="stylesheet" type="text/css" href="{% static "css/system.css" %}">
	<script src="{% static "scripts/3-rd-party/highcharts/adapters/standalone-framework.js" %}"></script>
	<script src="{% static "scripts/3-rd-party/highcharts/highstock.js" %}"></script>
	<script src="{% static "scripts/3-rd-party/highcharts/highcharts-more.js" %}"></script>
	<script src="{% static "scripts/3-rd-party/highcharts/modules/exporting.js" %}"></script>
	<script src="{% static "scripts/script.js" %}"></script>
	<script src="{% static "scripts/sensors.js" %}"></script>
	<script src="{% static "scripts/charts.js" %}"></script>
	<!---->
</head>
<body onload="onLoad()">
<header>
	<h1>Home Automation System</h1>
	{% include "login.html" %}
	<p>Zażółć gęślą jaźń i zmień to ↓ na fieldset</p>
	<div id="devices_states">
		<p>Server state: <span id="server_state" style="color:green;">Up</span></p>
	</div>
</header>

{% if user.is_authenticated %}

<div id="devices_tabs">
<nav id="devices_nav"></nav>
</div>

{% endif %}

<footer>
	<p>jacaato@gmail.com</p>
</footer>
</body>
</html>
{% comment %}
<!--
	<div id="chart">
		<div id="chart_div"></div>
	</div>-->
{% endcomment %}