<div id="login_div">
	<fieldset>
		<legend><h3>Login</h3></legend>
		<form id="login_form" method="post" action="{{path}}login">
			{%csrf_token %}
			{% if user.is_authenticated %}
			<label>Witaj {{ user.username }}</label>
			<label><input type="submit" value="Wyloguj" onclick="disableIntervals(); loggingIn = true;"></label>
			{% else %}
			<label><span>Username:</span><input type="text" name="username" value="" size="50" /></label>
			<label><span>Password:</span><input type="password" name="password" value="" size="50" /></label>
			<input type="submit" value="Zaloguj" onclick="disableIntervals(); loggingIn = true;" />
			{% endif %}
		</form>
	</fieldset>
</div>