body{
	background-color: #F1F8F8;
	padding-right: 5%;
	padding-left: 5%;
	font-family:Verdana, Geneva, sans-serif;
}

h1,h2,h3{
	color:blue;
	text-align:center;
}

#devices_tabs div * {
	/*overflow : auto;*/
}

.sensors {
	float: left;
}

.sensors * {
	min-width: 250px; 
	max-width: 400px; 
	height: 275px; 
	margin: 0 auto;
	float: left;
}

.parameters {
	float : left;
}

.parameters * {
	max-width: 400px; 
	max-height: 275px;
	display: inline-block;
	vertical-align: top;
}
.charts {
	clear:both;
}

fieldset *{
	display : block;
}

.charts * {
	
}

#devices_nav button{
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	margin-right:10px;
}

#devices_nav button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}

#devices_nav button:active {
	position:relative;
	top:1px;
}

nav{
	text-align: center;
	background-color: #7EFF7F;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 2px solid #000000;
}

#devices_tabs {
	overflow : auto;
	padding-top: 1%;
	padding-bottom: 5%;
	padding-right: 5%;
	padding-left: 5%;
	background-color: #DEEFFF;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 2px solid #000000;
	-webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.75);
}


form{
	display: block;
}

label{
	display: block;
}

label span{
	float: left;
	width: 200px;
}

label input{
	width: 70px;
	margin-right: 10px;
}

#login_div{
	float: right;
}

footer{
	float: right;
}

#chart{
	text-align:center;
}

#chart_div{
	min-width: 310px; 
	height: 400px;
	margin: 0 auto;
}
